terratowns_endpoint="https://terratowns.cloud/api"

fallout = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/fallout"
  content_version = 1 
}
borch = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/borch"
  content_version = 1 
}